<section class="three-loan-area five-loan-area ptb-100">
    <div class="container">
        <div class="one-section-title three-section-title">
            <span class="sub-title"># WHAT'S YOU EXPECT</span>
            <h2>We Have Offer To You</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed diusmod mlaboret dolore magnad minim veniamquaera</p>
        </div>

        <div class="five-loan-slider owl-theme owl-carousel">
            <div class="loan-item">
                <i class='bx bx-home'></i>
                <h3>A  Conventional Home Loan</h3>
                <p>Migration do amet contur diisci velit suia nonnua</p>
                <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
            </div>
            
            <div class="loan-item">
                <i class='bx bx-wrench'></i>
                <h3>Homeready Fannie Mortgage</h3>
                <p>Fyigration do amet contur diisci velit suia nonnua</p>
                <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
            </div>
            
            <div class="loan-item">
                <i class='bx bx-dollar-circle'></i>
                <h3>High Balance Mortgage</h3>
                <p>Wigration do amet contur diisci velit suia nonnua</p>
                <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
            </div>
            
            <div class="loan-item">
                <i class='bx bx-donate-heart'></i>
                <h3>Renovation Loans For Buyers</h3>
                <p>Migration do amet contur diisci velit suia nonnua</p>
                <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
            </div>

            <div class="loan-item">
                <i class='bx bx-home'></i>
                <h3>A  Conventional Home Loan</h3>
                <p>Migration do amet contur diisci velit suia nonnua</p>
                <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
            </div>
            
            <div class="loan-item">
                <i class='bx bx-wrench'></i>
                <h3>Homeready Fannie Mortgage</h3>
                <p>Fyigration do amet contur diisci velit suia nonnua</p>
                <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
            </div>

            <div class="loan-item">
                <i class='bx bx-dollar-circle'></i>
                <h3>High Balance Mortgage</h3>
                <p>Wigration do amet contur diisci velit suia nonnua</p>
                <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
            </div>

            <div class="loan-item">
                <i class='bx bx-donate-heart'></i>
                <h3>Renovation Loans For Buyers</h3>
                <p>Migration do amet contur diisci velit suia nonnua</p>
                <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
            </div>  
        </div>
    </div>
</section>