.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;
}

$desktop: 1200px;
@media only screen and (min-width: $desktop) {
    body {
        display: block;
    }
    .page {
        width: 100%;
        flex-direction: row;
        align-items: stretch;
        app-terms-explain {
            margin-top: 35px;
        }
    }
    .card-container {
        width: 80%;
    }
}
