::ng-deep .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 0 1px 2px rgb(0 128 0 / 7%), 0 2px 4px rgb(0 128 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%),
        0 8px 16px rgb(0 128 0 / 7%), 0 16px 32px rgb(0 128 0 / 7%), 0 32px 64px rgb(0 128 0 / 7%);
}
.offer-card {
    width: 100%;
    margin: 20px;
    .mat-card-avatar {
        .img {
            img {
                max-width: unset;
            }
        }
    }
    .offer-card-image {
        width: 150px;
        height: 60px;
        flex-shrink: 0;
        object-fit: contain;
    }
    .email {
        color: #0d6efd;
    }
    .call {
        color: #4caf50;
    }
    ::ng-deep .mat-card-header-text {
        width: 70%;
    }
    .card-content {
        margin: 20px;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .down_payment,
        .required_salary,
        .admin_fees,
        .max_period,
        .early_payment_fees,
        .monthly_payment {
            width: 45%;
            border: 1px solid #ddd;
            border-radius: 7px;
            margin: 5px;
            text-align: center;
        }
        .value {
            font-size: 20px;
            color: #4caf50;
        }
        .title {
            font-size: 20px;
            font-weight: 500;
        }
        .value.not_eligible_offer {
            color: #f44336;
        }
    }
}

$desktop: 1200px;
@media only screen and (min-width: $desktop) {
    .offer-card {
        .content {
            .value {
                font-size: 20px;
                color: #4caf50;
            }
            .down_payment,
            .required_salary,
            .admin_fees,
            .max_period,
            .early_payment_fees,
            .monthly_payment {
                width: 30%;
                border: 1px solid #ddd;
                border-radius: 7px;
                margin: 5px;
                text-align: center;
            }
            .title {
                font-size: 20px;
                font-weight: 500;
            }
            .value.not_eligible_offer {
                color: #f44336;
            }
        }
    }
}
