<section id="team" class="four-team-area five-team-area ptb-100">
    <div class="team-shape">
        <img src="assets/img/home-five/team-bg.png" alt="Team">
    </div>

    <div class="container">
        <div class="one-section-title three-section-title">
            <span class="sub-title"># TEAM & LEADERSHIP</span>
            <h2>Find A Loan Officer</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/home-four/team1.png" alt="Team">
                    <h3>JAMES TAYLOR</h3>
                    <p>Branch Manager</p>
                    <ul>
                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="tel:123456789"><i class='bx bx-phone-call'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/home-four/team2.png" alt="Team">
                    <h3>AMANDA SILBER</h3>
                    <p>Account Manager</p>
                    <ul>
                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="tel:123456789"><i class='bx bx-phone-call'></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/home-four/team3.png" alt="Team">
                    <h3>CHRIS GARCIA</h3>
                    <p>Loan Officer</p>
                    <ul>
                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="tel:123456789"><i class='bx bx-phone-call'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <img src="assets/img/home-four/team4.png" alt="Team">
                    <h3>CHRIS M. SHELTON</h3>
                    <p>Regional Director</p>
                    <ul>
                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="tel:123456789"><i class='bx bx-phone-call'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="team-join">
            <p>Want To Be A Person! <a routerLink="/home-five">Join Now</a></p>
        </div>
    </div>
</section>