
<section class="one-subscribe-area five-subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="subscribe-wrap">
                    <h2>Do you want to get update what’s upcoming?</h2>
                    <form class="newsletter-form">
                        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
                        <button class="btn subscribe-btn" type="submit">Subscribe now</button>
                    </form>

                    <div class="sub-img">
                        <img src="assets/img/home-five/subscribe-img.png" alt="Subscribe">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="four-map-area">
    <div class="container-fluid p-0">
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59843174.53779284!2d62.17507173408573!3d23.728204508550373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3663f18a24cbe857%3A0xa9416bfcd3a0f459!2sAsia!5e0!3m2!1sen!2sbd!4v1592754785579!5m2!1sen!2sbd"></iframe>
    </div>
</div>

