
<div class="five-banner-area">
    <div class="banner-shape">
        <img src="assets/img/home-five/banner1.png" alt="Shape">
        <img src="assets/img/home-five/banner-main.png" alt="Shape">
    </div>

    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="banner-content">
                    <span>
                        <img src="assets/img/home-three/banner-icon.png" alt="Banner">
                        Welcome To Levi
                    </span>
                    <h1>Buy A Home By <span>Confidence</span></h1>
                    <p>Reliable Sustainable Mortgage Provider</p>

                    <div class="banner-form">
                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-default active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Purchase</a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a class="nav-default" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Refinance</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Purchase price *">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Estimated monthly">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Down payment *">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Property ZIP code *">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Mortgage term length *</option>
                                                    <option>Another option</option>
                                                    <option>A option</option>
                                                    <option>Potato</option>
                                                </select>	
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email address">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <button type="submit" class="btn banner-form-btn">Calculate money</button>
                                        </div>

                                        <div class="col-lg-6">
                                            <a class="banner-call" href="tel:5432123451">Call Us: 5432 123 451 (Sat - Thu)</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Purchase price *">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Estimated monthly">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Down payment *">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Property ZIP code *">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Mortgage term length *</option>
                                                    <option>Another option</option>
                                                    <option>A option</option>
                                                    <option>Potato</option>
                                                </select>	
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email address">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <button type="submit" class="btn banner-form-btn">Calculate money</button>
                                        </div>

                                        <div class="col-lg-6">
                                            <a class="banner-call" href="tel:5432123451">Call Us: 5432 123 451 (Sat - Thu)</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="five-quote-area">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-8 p-0">
                <div class="row quote-wrap align-items-center m-0">
                    <div class="col-lg-5">
                        <div class="quote-content">
                            <div class="one-section-title three-section-title">
                                <span class="sub-title"># GET A QUOTE</span>
                                <h2>Get Mortgage Quote If You have any Doubt It</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="quote-btn">
                            <a class="quote-btn-left" routerLink="/home-five"><i class='bx bxs-quote-right'></i> Get a quote</a>
                            <a class="quote-btn-right" routerLink="/home-five"><i class='bx bx-donate-heart'></i> Join community</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="quote-img">
                    <img src="assets/img/home-five/quote.png" alt="Quote">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="four-step-area five-step-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="one-section-title three-section-title">
            <span class="sub-title"># STEPS & PROCESS</span>
            <h2>Go Beyond With Levi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed diusmod temlaboret dolore magna aliqua. Ut enim ad minim veniamquaera</p>
        </div>

        <div class="four-step-slider owl-theme owl-carousel">
            <div class="step-item step-one">
                <div class="step-span">
                    <span>01</span>
                </div>
                <h3>Conversation</h3>
                <p>Learning do amet contur diiscivt suia non nuameius velit modi</p>
            </div>

            <div class="step-item">
                <div class="step-span">
                    <span>02</span>
                </div>
                <h3>Application</h3>
                <p>Learning do amet contur diiscivt suia non nuameius velit modi</p>
            </div>

            <div class="step-item step-one">
                <div class="step-span">
                    <span>03</span>
                </div>
                <h3>Documents</h3>
                <p>Learning do amet contur diiscivt suia non nuameius velit modi</p>
            </div>

            <div class="step-item">
                <div class="step-span">
                    <span>04</span>
                </div>
                <h3>Appraisal</h3>
                <p>Learning do amet contur diiscivt suia non nuameius velit modi</p>
            </div>

            <div class="step-item step-one">
                <div class="step-span">
                    <span>05</span>
                </div>
                <h3>Upfront Underwriting</h3>
                <p>Learning do amet contur diiscivt suia non nuameius velit modi</p>
            </div>

            <div class="step-item">
                <div class="step-span">
                    <span>04</span>
                </div>
                <h3>Appraisal</h3>
                <p>Learning do amet contur diiscivt suia non nuameius velit modi</p>
            </div>
        </div>
    </div>
</div>

<div class="five-counter-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <h3>90</h3>
                    <span>CUSTOMER WORLDWIDE</span>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="counter-item counter-two">
                    <h3>20</h3>
                    <span>VOLUNTEERS PARTICIPATED</span>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <h3>56</h3>
                    <span>VETERAN HOME COMPLETED</span>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="counter-item counter-two">
                    <h3>65</h3>
                    <span>YEARS OF EXPERIENCE</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="one-faq-area four-faq-area five-faq-area pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq-content">
                    <ul class="accordion">
                        <li>
                            <a>How do you qualify for a loan?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam</p>
                        </li>
                        <li>
                            <a>A Good Lender Will Clearly Explain Mortgage?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam</p>
                        </li>
                        <li>
                            <a>Can You Get A Mortgage Without A Credit Score?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam</p>
                        </li>
                        <li>
                            <a>How Much Home Can You Afford?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 pr-0">
                <div class="faq-img-two">
                    <img src="assets/img/home-five/faq.png" alt="FAQ">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="three-loan-area four-loan-area five-loan-area pt-100">
    <div class="container">
        <div class="one-section-title three-section-title">
            <span class="sub-title"># CATEGORIES OF LOAN</span>
            <h2>Find A Own Loan</h2>
        </div>

        <div class="sorting-menu">
            <ul> 
                <li class="filter active" data-filter="all"><i class='bx bx-cart'></i> PURCHASE</li>
                <li class="filter" data-filter=".tyre"><i class='bx bx-user'></i> HOMEBUYER</li>
                <li class="filter" data-filter=".web"><i class='bx bx-dollar' ></i> REFINANCE</li>
            </ul>
        </div>

        <div id="Container" class="row">
            <div class="col-sm-6 col-lg-3 mix tyre">
                <div class="loan-item">
                    <span>Home Loan</span>
                    <h3>A  Conventional Home Loan</h3>
                    <p>Migration do amet contur diisci velit suia nonnua</p>
                    <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>  
            </div>

            <div class="col-sm-6 col-lg-3 mix web">
                <div class="loan-item">
                    <span>Homeready</span>
                    <h3>Homeready Fannie Mortgage</h3>
                    <p>Fyigration do amet contur diisci velit suia nonnua</p>
                    <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>  
            </div>

            <div class="col-sm-6 col-lg-3 mix web">
                <div class="loan-item">
                    <span>High Balance</span>
                    <h3>High Balance Mortgage</h3>
                    <p>Wigration do amet contur diisci velit suia nonnua</p>
                    <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>  
            </div>

            <div class="col-sm-6 col-lg-3 mix tyre web">
                <div class="loan-item">
                    <span>Renovation Loans</span>
                    <h3>Renovation Loans For Buyers</h3>
                    <p>Migration do amet contur diisci velit suia nonnua</p>
                    <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>  
            </div>

            <div class="col-sm-6 col-lg-3 mix web">
                <div class="loan-item">
                    <span>VA Loans</span>
                    <h3>VA Loans For Military</h3>
                    <p>Migration do amet contur diisci velit suia nonnua</p>
                    <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>  
            </div>

            <div class="col-sm-6 col-lg-3 mix tyre">
                <div class="loan-item">
                    <span>Jumbo Loans</span>
                    <h3>When You Need Conforming Limit</h3>
                    <p>Fyigration do amet contur diisci velit suia nonnua</p>
                    <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>  
            </div>

            <div class="col-sm-6 col-lg-3 mix web">
                <div class="loan-item">
                    <span>Purchase Loans</span>
                    <h3>Down Payment Has Stalled </h3>
                    <p>Wigration do amet contur diisci velit suia nonnua</p>
                    <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>  
            </div>

            <div class="col-sm-6 col-lg-3 mix tyre">
                <div class="loan-item">
                    <span>Condo Loans</span>
                    <h3>Loans For Condo Support</h3>
                    <p>Migration do amet contur diisci velit suia nonnua</p>
                    <a routerLink="/home-five">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>  
            </div>
        </div>
    </div>
</section>

<section class="two-lover-area five-lover-area pt-100 pb-70">
    <div class="container">
        <div class="one-section-title three-section-title">
            <span class="sub-title"># TESTIMONIAL</span>
            <h2>We Serve Our Clients Best Of Capacity</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="lover-item">
                    <ul>
                        <li>
                            <div class="lover-content">
                                <h3>Donney Jon</h3>
                                <span>Perisian Org</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing  sit ut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                <ul>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                </ul>

                                <div class="lover-inner-img">
                                    <img src="assets/img/home-two/lover1.png" alt="Lover">
                                </div>

                                <div class="lover-icon">
                                    <i class='bx bxs-quote-left'></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="lover-item">
                    <ul>
                        <li>
                            <div class="lover-content">
                                <h3>Oli Rubion</h3>
                                <span>Entoin Ect</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing  sit ut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                <ul>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                </ul>

                                <div class="lover-inner-img">
                                    <img src="assets/img/home-two/lover2.png" alt="Lover">
                                </div>

                                <div class="lover-icon">
                                    <i class='bx bxs-quote-left'></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->



<!-- <div [hidden]="cookieService.get('user_uid')">
    <h1>Sign In with Your Phone Number</h1>
  
    <label for="phone">Phone Number</label><br>
    <input type="text" [(ngModel)]="phoneNumber"  class="input" placeholder="1"    maxlength="11">
  
  
    <button id="recaptcha-container">SMS Text Login Code</button>
  
    <div *ngIf="confirmationResult">
      <hr>
      <label for="code">Enter your Verification Code Here</label><br>
      <input type="text" name="code" [(ngModel)]="verificationCode">
  
      <button (click)="verifyLoginCode()">Verify</button>
    </div>
  
  </div>
  
  <div *ngIf="cookieService.get('user_uid')">
    You have successfully logged in with your phone number!
  
    UserId: {{ user?.uid }}

    <button (click)="signOut()">Sign Out</button>
  
  </div> -->