@media only screen and (max-width : 767px) {

    $all-size: 14px;
    /*-- Default CSS --*/
    body {
        font-size: $all-size;
    }
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    /*-- End Default CSS --*/



    /*----- Back to Top CSS ------*/
    #toTop {
        bottom: 10px;
    }
    .back-to-top-btn {
        i {
            height: 45px;
            width: 45px;
            line-height: 45px;
            margin-right: 20px;
        }
    }
    /*----- End Back to Top CSS -----*/

    /*----- Home Five CSS -----*/
    /*-- Banner --*/
    .five-banner-area {
        height: 100%;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;

        .banner-shape {
            text-align: center;

            img {
                &:nth-child(2) {
                    top: 0;
                    right: 0;
                    max-width: 100%;
                    animation: none;
                    position: relative;
                }
            }
        }
        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }
        .banner-content {
            span {
                font-size: 20px;
                margin-bottom: 12px;
            }
            h1 {
                font-size: 45px;

                span {
                    font-size: 45px;
                }
            }
            p {
                font-size: 20px;
                margin-bottom: 30px;
            }
            .banner-form {
                .banner-form-btn {
                    margin-bottom: 15px;
                }
                ul {
                    li {
                        .nav-default {
                            font-size: $all-size;
                        }
                    }
                }
                .tab-content {
                    form {
                        padding: 15px 15px 15px;

                        .nice-select {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
    /*-- End Banner --*/

}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    
    .navbar-light {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-light .navbar-nav .nav-link {
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 6px;
        padding-right: 6px;
    }
    .one-banner-area .banner-text {
        max-width: 483px;
        padding-right: 10px;
    }
    .one-banner-area .banner-text h1 {
        font-size: 60px;
        line-height: 80px;
    }
    .one-banner-area .banner-text .banner-form form .form-group .form-control {
        padding-left: 15px;
        font-size: 14px;
    }
    .one-banner-area .banner-text .banner-form form .form-group .form-control span {
        font-size: 14px;
    }
    .one-banner-area .banner-text .banner-form form {
        padding: 30px 0 30px;
    }
    .one-about-area .about-content .about-tablist ul li a {
        display: inline-block;
        margin-bottom: 5px;
    }
    .one-about-area .about-content .about-best ul li {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .one-about-area .about-content .about-best ul li:last-child {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .one-service-area .service-item {
        padding: 20px 12px 18px;
    }
    .one-help-area .help-img {
        position: relative;
        top: 0;
        right: 0;
        max-width: 435px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .one-among-area .among-item .among-bottom {
        padding: 38px 10px 30px;
    }
    .one-among-area .among-item .among-bottom h3 {
        font-size: 17px;
    }
    .one-search-area .search-wrap .search-img {
        position: relative;
        bottom: 0;
        right: 0;
        max-width: 515px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .one-team-area .team-item .team-img:before {
        display: none;
    }
    .one-faq-area .faq-img {
        max-width: 285px;
    }
    .one-testimonial-area .testimonial-item {
        padding: 30px 15px 30px;
    }
    .one-testimonial-area .testimonial-item .testimonial-top ul:after {
        right: -14px;
        width: 25%;
    }
    .one-testimonial-area .testimonial-item .testimonial-top ul:before {
        left: -14px;
        width: 25%;
    }
    .one-blog-area .blog-item .blog-bottom {
        padding: 20px 10px 20px;
    }
    .one-blog-area .blog-item .blog-bottom h3 {
        font-size: 18px;
    }
    .two-mission-area .mission-content .mission-bottom ul li .mission-item {
        padding: 20px 10px 18px;
    }
    .two-help-area .help-item {
        max-width: 560px;
        padding-right: 30px;
    }
    .one-faq-area .faq-content .accordion a:after {
        right: 10px;
    }
    .one-faq-area .faq-content .accordion a {
        padding: 20px 45px 20px 35px;
    }
    .three-team-area .team-item .team-bottom h3 {
        font-size: 18px;
    }
    .three-loan-area .loan-item {
        padding: 30px 15px 30px;
    }
    .three-loan-area .loan-item h3 {
        font-size: 19px;
    }
    .three-join-area .join-item h3 {
        font-size: 25px;
    }
    .three-banner-area .banner-content h1 {
        font-size: 88px;
    }
    .four-record-area .record-content .record-item h3 {
        font-size: 66px;
    }
    .four-record-area .record-content .record-item span {
        font-size: 15px;
        padding-left: 98px;
    }
    .four-team-area .team-item {
        padding: 25px 10px 25px;
    }
    .four-team-area .team-item h3 {
        font-size: 19px;
    }
    .four-team-area .team-item h3:before {
        left: -10px;
    }
    .four-team-area .team-item ul li a i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .six-team-area .team-item .team-bottom {
        padding: 25px 0 25px;
    }
    .six-hour-area .hour-item .hour-inner {
        padding-left: 40px;
    }
    .six-hour-area .hour-item .hour-inner h3 {
        font-size: 17px;
    }
    .six-hour-area {
        padding-left: 20px;
        padding-right: 10px;
    }
    .six-faq-area .faq-img {
        max-width: 100%;
    }
}

@media only screen and (min-width : 1200px) and (max-width : 1300px) {

    .one-banner-area .banner-text {
        max-width: 565px;
        padding-right: 30px;
    }
}

@media only screen and (min-width: 1800px) {

    .one-banner-area .banner-text {
        max-width: 906px;
        padding-left: 15px;
    }
    .one-help-area .help-img {
        top: 60px;
        max-width: 565px;
    }
    .one-faq-area .faq-img {
        max-width: 705px;
    }
    .five-banner-area .banner-shape img:nth-child(2) {
        max-width: 920px;
    }
    .six-banner-area .banner-img {
        left: 105px;
    }

}