
  mat-panel-title {
    font-size: 25px;
}
.mat-expansion-panel-header{
  background: linear-gradient(90deg, rgba(16,195,23,1) 23%, rgba(21,208,154,1) 64%);
}
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    justify-content: center;
}
mat-icon{
  margin: 0 20px !important;
}
  