<mat-accordion class="example-headers-align" *ngIf="!isDesktop()">
    <mat-expansion-panel class="terms">
        <mat-expansion-panel-header>
            <mat-panel-title>
             <mat-icon>filter_list</mat-icon>Filter
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-search-card [offers]="offers" [searchParams]="searchParams" (onSearch)="search($event)"></app-search-card>
    </mat-expansion-panel>
</mat-accordion>


<ng-container *ngIf="isDesktop()">
    <app-search-card [offers]="offers" [searchParams]="searchParams" (onSearch)="search($event)"></app-search-card>
</ng-container>